$amarillo-botones: #fbd43b;
$amarillo_fondo: #FBD43B;
$gris-boton: #e0e0e0;
$gris-soft:#8f8f8f;
$gris-dark:#212121;
$gris-bullet:#f8f8f8;
$gris:#acacac;
$white:#fff;
$black:black;
$turquesa: #00c3a3;
/*
Rojo-bulletl:#f64552
Gris-bullet:#f8f8f8
Gris dark:#212121
Gris-letra soft:#8f8f8f
Turquesa-Términos y condiciones:#00c3a3
Morado-Entrada de números:#49233b
Morado light:#451e36
Morado dark:#38052a
*/